button {
    display: block;
  	margin-top: 1%;
  	font-size: 14px;
  	padding: 5px;
}

table {
  width: auto;
}

table, td, th {
  border: 2px solid black;
  background-color: rgb(200, 253, 255);
}

thead, tfoot {
  text-align: center;
  font-weight: bold;
}

/*
img {
  width: 960px;
  height: 540px;
}
*/